#navbarContainer {
    background-color: lightslategrey;
}

#insideNavbar {
    padding: 0.3%;
}

#title {
    display: inline;
    color: white;
}

#qrcode {
    display: flex;
    justify-content: center;
}

.containers {
    display: flex;
    justify-content: center;
    

    /*border: 1px solid black;*/

    margin-bottom: 2%;
}

.containerh5{
    background-color: lightslategrey;
    color: white;

    border-radius: 2px;
}

.buttons {
    background-color: lightslategrey;
    color: white;

    border: 1px solid lightslategray;
    border-radius: 2px;
}

.colourPicker {
    border-radius: 2px;
    padding: 0%;
}